<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RestroHub</display-name>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.restrohub.Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.restrohub.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.restrohub.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addcat</servlet-name>
    <servlet-class>com.restrohub.Addcat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcat</servlet-name>
    <url-pattern>/addcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addfood</servlet-name>
    <servlet-class>com.restrohub.Addfood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfood</servlet-name>
    <url-pattern>/addfood</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>placeorder</servlet-name>
    <servlet-class>com.restrohub.Placeorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeorder</servlet-name>
    <url-pattern>/placeorder</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EmptyFields</filter-name>
    <filter-class>
           com.restrohub.Emptyfields
      </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmptyFields</filter-name>
    <url-pattern>
           /Reg
      </url-pattern>
  </filter-mapping>
</web-app>